<h1>Editing microfinance_service_provider_typology</h1>

<%= render 'form' %>

<%= link_to 'Show', @microfinance_service_provider_typology %> |
<%= link_to 'Back', microfinance_service_provider_typologies_path %>
