<h1><%= backlink_to "Data Entries","/" %>
</h1>


<header class="my_dar_subheader">
<h3>
Main Tables
</h3>
</header>

<%= link_to "Regions", controller:"regions", action:"index", back_url: @back_url %>
<br><%= link_to "Provinces","provinces", {back_url: @back_url} %>
<br><a href="/districts">Districts </a>
<br><a href="/municipalities">Municipalities </a>
<br><a href="/arcs">ARCs </a>
<br><a href="/arc_barangays"> ARC Barangays</a>
<br><a href="/barangays">Barangays </a>


<header class="my_dar_subheader">
<h3>
Data Tables
</h3>
</header>

<a href="/barangay_postharvest_equipment_and_machinery_projects">Barangay Postharvest Equipment and Machinery Projects </a>
<br><a href="/barangay_irrigation_project_completions">Barangay Irrigation Project Completions</a>
<br><a href="/barangay_irrigation_projects">Barangay Irrigation Projects</a>
<br><a href="/barangay_bridge_project_completions">Barangay Bridge Project Completions </a>
<br><a href="/barangay_fmr_project_completions">Barangay FMR Project Completions</a>
<br><a href="/barangay_organization_memberships">Barangay Organization Memberships </a>
<br><a href="/barangay_organizations">Barangay Organizations </a>
<br><a href="/barangay_bridge_projects"> Barangay Bridge Projects </a>
<br><a href="/barangay_fmr_projects"> Barangay FMR Projects </a>
<br><a href="/barangay_trainings"> Barangay Trainings </a>
<br><a href="/barangay_lti_statuses"> Barangay LTI Status</a>
<br><a href="/barangay_populations"> Barangay Population </a>
<br><a href="/barangay_geographicals">Barangay Geographics</a>
<br><a href="/barangay_politicals"> Barangay Politics</a>
<br><a href="/employment_statuses">Employment Statuses </a>
<br><a href="/registering_agencies">Registering Agencies </a>
<br><a href="/barangay_trainings">Barangay Trainings </a>
j<br><a href="/barangay_lti_statuses">Barangay LTI Statuses </a>
<br><a href="/barangay_populations">Barangay Populations</a>



<header class="my_dar_subheader">
<h3>
Lookup Tables
</h3>
</header>

<a href="/faps_coverages">FAPS Coverages</a>
<br><a href="/arc_types">ARC Types</a>
<br><a href="/organization_typologies">Organization Typologies </a>
<br><a href="/loan_access_typologies">Loan Access Typologies </a>
<br><a href="/bridge_project_typologies">Bridge Project Typologies </a>
<br><a href="/fmr_project_typologies">FMR Project Typologies </a>
<br><a href="/marketing_area_outlet_typologies">Marketing Area Outlet Typologies </a>
<br><a href="/managed_by_typologies">Managed by Typologies </a>
<br><a href="/agri_based_enterprise_typologies">Agri-based Enterprise Typologies </a>
<br><a href="/marketing_outlet_typologies">Marketing Outlet Typologies </a>
<br><a href="/microfinance_service_provider_typologies">Microfinance Service Provider Typologies </a>
<br><a href="/loan_status_typologies">Loan Status Typologies</a>
<br><a href="/credit_provider_typologies">Credit Provider Typologies </a>
<br><a href="/congressional_districts">Congressional Districts </a>
<br><a href="/faps_coverages"> FAPS Coverages</a>
<br><a href="/arc_types"> ARC Types </a>
<br><a href="/ecosystem_typologies">Ecosystem Typologies</a>
<br><a href="/other_service_typologies">Other Service Typologies</a>
<br><a href="/recreation_service_typologies">Recreation Service Typologies </a>
<br><a href="/health_service_typologies">Health Service Typologies</a>
<br><a href="/education_service_provided_typologies">Education Service Provided Typologies </a>
<br><a href="/power_supply_typologies">Power Supply Typologies </a>
<br><a href="/water_system_typologies"> Water System Typologies</a>
<br><a href="/postharvest_structure_and_facility_typologies"> Postharvest Structure and Facility Typologies</a>
<br><a href="/postharvest_equipment_and_machinery_typologies">Postharvest Equipment and Machinery  Typologies</a>
<br><a href="/irrigation_project_typologies">Irrigation Project Typologies</a>
<br><a href="/womens_organization_typologies">Womens Organization Typologies </a>
<br><a href="/womens_desk_service_typologies">Womens Desk Service Tyoplogies</a>
<br><a href="/environmental_concern_typologies">Environmental Concern Typologies</a>
<br><a href="/natural_resource_typologies">Natural Resource Typologies </a>
<br><a href="/farm_practice_typologies">Farm Practice Typologies</a>



