<h1>Editing barangay_irrigation_project_completion</h1>

<%= render 'form' %>

<%= link_to 'Show', @barangay_irrigation_project_completion %> |
<%= link_to 'Back', barangay_irrigation_project_completions_path %>
