<h1>Editing postharvest_equipment_and_machinery_typology</h1>

<%= render 'form' %>

<%= link_to 'Show', @postharvest_equipment_and_machinery_typology %> |
<%= link_to 'Back', postharvest_equipment_and_machinery_typologies_path %>
