<div class="center jumbotron">
  <h2>Objective of the <a href="/">DAR-GCES</a>
  </h2>
  <h3 class="lead" style="text-align:left; text-indent:0%"><span style="float:left;padding-top:0;padding-bottom:0; padding-right:8px; padding-left: 3px; font-family: Georgia;font-size:300%;color:green;background-color:yellow;border-radius:5px">R</span>epublic Act No. 9700 mandates DAR to monitor the implementation of the agrarian reform program in the next five years. In relation to this, the Department issued Memorandum Circular No. 17, otherwise known as the Guidelines on the Implementation of Enhanced Planning, Monitoring and Evaluation (PME) System in Accordance with Republic Act No. 9700 to provide result-based indicators on land tenure improvement (LTI), program beneficiaries’ development (PBD), and agrarian justice delivery (AJD) and come up with complete, organized, consistent, accurate and reliable agrarian-related data. Under the PME system, each sector is required to maintain their respective planning and enhance their program/project monitoring 

For the PBD sector, the existing ARC monitoring system was vulnerable to inadvertent data errors and discrepancy at both the DAR field and DARCO levels.  Hence, BARBD in coordination with the Office of the Undersecretary for Support Services (OUSS) reviewed the MS Excel TM ARC Worksheet that is used in the processing of the regional ARC Forms and came up with an enhanced system to facilitate the encoding and consolidation of the reports at the DARPO and DARRO levels.  The enhanced system shall henceforth be known as the ARC Monitoring and Tracking System and the forms used shall be known as the ARC Monitoring and Tracking Forms.

This online monitor was thus developed to guide users at various levels (i.e., DARCO-SSO, RSSD, BDCD and MARO/DF) in gathering, encoding, and processing data and in preparing ARC reports for the PBD sector.  
  </h3>
</div>
