
<div>

  <div class="row jumbotron center" style="margin-top:-6px; margin-bottom:3px; background-color:yellowgreen;border:4px solid gray;">
    <h1><i class="icon-camera-retro"></i>Welcome to DAR-GCES</h1>
  </div>

  <div class="row" style="border:4px solid gray; border-radius:6px;" >
    <%= image_tag("riceFarm2.jpg" ,  style:"border-radius:3px;max-width:100%;") %>
  </div>

  <div class="row">
    <div class="col-md-4" >
      <h2>
       <span class="glyphicon glyphicon-question-sign" style="color:green">
        </span> 
      <%= link_to "Query/Report", "/reporter_barangays" %>
      </h2>
      <p>Query detail data from Barangay Level to summarized info at Regional Level..
      </p>
    </div>

    <div class="col-md-4" >
      <h2>
      <%= link_to "Data Entry", "/data_entry" %>
      </h2>
      <p>Input data for Master Tables: fr regions to barangays. Setup lookup tables. Enter data at Barangay Level including Projects, LTI Status..
      </p>
    </div>

    <div class="col-md-4">
      <h2>
        <span class="glyphicon glyphicon-star-empty" style="color:green">
        </span> 
        <%= link_to "MFO", "/reporter_Mfo" %>
      </h2>
      <p>Get performance and indicator comparison from Municipal to Regional..
      </p>
    </div>
  </div>

</div>
