<h1>Editing barangay_postharvest_equipment_and_machinery_project</h1>

<%= render 'form' %>

<%= link_to 'Show', @barangay_postharvest_equipment_and_machinery_project %> |
<%= link_to 'Back', barangay_postharvest_equipment_and_machinery_projects_path %>
