<h1>Editing education_service_provided_typology</h1>

<%= render 'form' %>

<%= link_to 'Show', @education_service_provided_typology %> |
<%= link_to 'Back', education_service_provided_typologies_path %>
