@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/*--------------------*/
/* extensions of botp */
/*--------------------*/

.inner_stacking_div {
  position:absolute;
}


.my_dar_table{
  @extend .table-striped;
  @extend .table-hover;
  @extend .table;
}

table {
  @extend .my_dar_table
}


.my_dar_subheader{
  h3,h2,h1{background-color:yellowgreen;}
}

.my_dar_button{
  @extend .btn;
  @extend .btn-primary;
  /*background-color:green;*/
}


form input[type="submit"]{
  @extend .my_dar_button;
}

.my_a {
  @extend .my_dar_button; 
}

.my_no_margins{
  margin: 0; 
  padding: 0;
}

a:hover, a:focus {
  color: green;
  text-decoration:none;
  background-color:yellow;
}

.my_dar_button:hover {
  background-color:yellow;
  color:green;
}
