<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @congressional_district.name %>
</p>

<%= link_to 'Edit', edit_congressional_district_path(@congressional_district) %> |
<%= link_to 'Back', congressional_districts_path %>
